{{#*inline "body"}}

<div>
  <p>The DevAndDev community is a technical community whose shared purpose is to support <em>Pair Programming</em>.</p>
  <p>Familiarising yourself with the principles and guidelines here is both a courtesy to the community and an
    effective way of making your initial interactions with other DevAndDev users mutually beneficial.
  </p>
  <h2>Common sense introduction</h2>
  <p>DevAndDev is a community of volunteers. Rather than providing a complicated pattern of balanced freedoms and
    restrictions, as well as the time, resources and personnel required to interpret and administer such rules, we
    have chosen a simple principle to embrace for the benefit of all. Therefore, this entire document may be condensed
    into one simple admonition:
  </p>
  <p><i><b>Proactively seek to give of yourself and to bring only benefit to your peers and community.</b></i>
  </p>
  <h2>Code of conduct</h2>
  <p>The minimum necessary standards when interacting with others in the DevAndDev community comprise three
    main points.</p>
  <h3>Respect</h3>
  <h4>Respect other users</h4>
  <p>DevAndDev is a respectful, inclusive community. Anti-social or offensive behaviour will not be tolerated. Simply
    put, treat others as you would be treated; respect them and their views, even if you disagree with them. When you
    do find yourself disagreeing; counter the idea or the argument, rather than engage in ad hominem attacks.
  </p>
  <h4>Be responsible</h4>
  <p>If an interpersonal issue arises, please be open-minded to the possibility that your behavior or intent, actual
    or perceived, may have contributed to the problem. DevAndDev users are encouraged to cultivate self awareness and
    remain peaceable toward their peers. Taking responsibility for our actions is often a good first step toward a
    peaceful reconciliation.
  </p>
  <h4>Member accounts</h4>
  <p>Please limit your membership to one account only. Having multiple accounts is an unnecessary use of resources.</p>
  <p>Any form of impersonation is strictly prohibited.</p>
  <h3>Legality</h3>
  <h4>Criminal solicitation</h4>
  <p>Criminal solicitation is strictly forbidden in this community. In this context, "criminal solicitation" shall mean,
    "To actively or implicitly facilitate, incite, move, or persuade others to some act of lawlessness or illegal
    activity."
  </p>
  <p>Therefore do not post discussions which demonstrate, or link to, criminal solicitation in any form. This
    includes, but is not limited to information or links to facilitate illegal drug use, theft, network intrusion,
    creation of code for malicious purposes, prohibited software copying, prohibited use of copyrighted/patented
    material, so-called "warez", or sites which provide torrents or links to such content. Illegal content shall be
    removed swiftly and dealt with in full accordance with known applicable law.
  </p>
  <h4>Spam/Advertising/Solicitation</h4>
  <p>Spamming is forbidden. Please alert staff to the presence of spam should you encounter it. Offending spam
    accounts and associated IP addresses will be banned.</p>
  <p>Publicity, if it is related to DevAndDev (as a project or community), will usually be allowed.
    Promoting web-invites, blog posts or commercial promotions are actively discouraged, or outright prohibited.
    Registering just to promote your issue/cause, treats the community as a resource and is not
    acceptable; if unsure about the appropriateness of your content, contact the support staff before posting. Also be
    aware that posting shortened/obscured links is a technique of spammers and deliberately inhibits the communities
    ability to judge the propriety of the link. Therefore, please only post links that include a clear destination.
  </p>
  <h3>Freedom</h3>
  <p>Liberty is the state of being unencumbered by oppressive authority, whereas freedom is the ability to
    demonstrate self determination. Therefore, we must all sacrifice a small degree of liberty in order to enjoy certain
    freedoms. While the free and open exchange of assistance, speech, ideas and opinions is highly regarded and
    encouraged in the DevAndDev community, it must be noted that the freedom granted to participants is not unbounded;
    rather, it is relative freedom. It co-exists, along with the entire DevAndDev community, within the
    boundaries of the above guidelines and principles. Complaints of censorship or intolerance are therefore baseless
    and unfounded, since this necessary framework must simultaneously provide reasonable limitations. To illustrate, we
    are aware of the physical laws which govern energy and matter, yet we do not complain of their oppression. Instead,
    we recognize that such laws are essential for our welfare. Likewise, the DevAndDev community's high standards
    reflected in these guidelines regulate community freedom for the common good and protection of all. The key, then,
    to true freedom in this community is to cultivate benevolence toward others and to harmonize our attitude with the
    DevAndDev Way by bringing only benefits to our peers. This allows members to satisfy all contributive impulses
    without aggravating themselves or encroaching on the freedom of others. Embracing the above principles and obeying
    the guidelines therefore benefits the entire community by providing freedom from the disorder and other oppressive,
    harmful and negative consequences of a more chaotic approach.
  </p>
  <h2>Enforcement</h2>
  <p>If the staff considers that a member's behavior is unacceptable and warrants intervention, a
    warning will typically be issued unless the occurrence is judged to be especially flagrant, in which case a ban
    may be issued immediately. Warnings will not be discussed on the DevAndDev Forums, IRC channels, or mailing lists by
    the staff.
    If the warning goes unheeded, further action will be taken. This may range from locking the offending user
    account, to deletion or banning of the user, out of consideration for a peaceful community. Actions are
    usually conducted on a case-by-case basis.
  </p>
  <h2>Contacting the staff</h2>
  <p>If you feel that an egregious oversight has been made, or if you need to alert the staff of any abusive behavior,
    can ask for assistance at <a rel="nofollow" href="mailto:help@devand.dev">help@devand.dev</a>
  </p>
</div>

{{/inline}}
{{>layout}}
