{{#*inline "body"}}

    <h1>{{ title }}</h1>
    <div>
      <a class="pure-button" href="/">Settings</a>
      <a class="pure-button" href="/affinities">Affinities</a>
      <a class="pure-button" href="/code-now">Code Now</a>
      <a class="pure-button" href="/logout">Sign Out</a>
    </div>

    <div class="yew-mount-point"></div>

    <script src="/public/ui/devand.js"></script>

{{/inline}}
{{>layout}}
