
  <footer class="main-footer">
    <div class="main-footer-content">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="https://alepez.me" class="pure-menu-link">© 2020 Alessandro Pezzato</a>
          </li>
          <li class="pure-menu-item">
            <a href="/privacy" class="pure-menu-link">Privacy Policy</a>
          </li>
          <li class="pure-menu-item">
            <a href="/code-of-conduct" class="pure-menu-link">Code of Conduct</a>
          </li>
          <li class="pure-menu-item">
            <a href="/help" class="pure-menu-link">Help</a>
          </li>
          <li class="pure-menu-item">
            <a href="https://github.com/alepez/devand" class="pure-menu-link">Code</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
