{{#*inline "body"}}

<p>
  See a bug? <a href="https://github.com/alepez/devand/issues">File an issue!</a>
</p>

<section>
  <h2>F.A.Q.</h2>

  <h3>What is DevAndDev?</h3>
  <p><strong><em>DevAndDev</em> helps developers of
      any level finding the perfect companion for pair-programming.</strong> Let
    us know what are your favorite languages and in which days of week and hours
    of day you are available for some pair-programming and we will try to find
    the best match</p>

  <h3>Will DevAndDev spam me?</h3>
  <p>We do the best to send you as few as
    possible email notifications. If you have a verified email, we will send you
    a notification when you receive messages from other users</p>

  <h3>Is my email address visible to other users?</h3>
  <p>No. We just send an
    email with a link to our chat, so you can chat with other users through our
    website</p>

  <h3>Does DevAndDev provide video conference tools?</h3>
  <p>No. We just match
    users. You can use you favorite video conference / code sharing tool. Just
    use our chat to exchange links or invitations to virtual rooms</p>

  <h3>What is language level?</h3>
  <p>For each language you can set three
    levels: <em>Novice</em>, <em>Proficient</em>, <em>Expert</em>. We will try to
    match you with a developer of the same level. You may be matched with
    programmers of different level, depending on other factors, like availability
    or priority.</p>

  <h3>What is language priority?</h3>
  <p>For each language you can set three
    priorities: <em>High</em>, <em>Low</em>, <em>No</em>. Set <em>High</em> if
    you really enjoy working with that language, whatever your level is. Set
    <em>Low</em> if it's not your best choice, but you are fine working with it
    if there aren't other developers who loves your favorite (yet exotic)
    language. Set <em>No</em> if you want other users know your skills, but you
    absolutly don't want to work with it.</p>

  <h3>My favorite language is not available!</h3>
  <p>Just <a href="https://github.com/alepez/devand/issues">file an issue</a> or <a
      href="https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request">
      create a pull request</a> and we will be happy to add it!</p>

  <h3>Why all times are in UTC?</h3>
  <p>Because you will deal with developers
    from all over the world and keeping updated with all local times can be
    frustating for humans (and painful for programs)</p>

  <h3>I don't have any match!</h3>
  <p>DevAndDev is a newborn community, so it's
    possible that there isn't yet the perfect match. You can try <strong>adding
      more languages</strong> in your <a href="/dashboard">preferences</a> or
    <strong>adding more slots</strong> to your weekly schedule (but only if you are
    actually available). And give a look to <a href="/affinities">Affinities</a>,
    where you can chat with other users, even if their schedule is not matching
    yours.</p>

  <h3>What is <em>Code Now</em>?</h3>
  <p>Are you in front of your pc wondering
    if any other developer in the world wants to join you for some coding? Just
    keep <a href="/code-now">Code Now</a> page open and you'll see all other
    users in the same page, in <em>realtime</em>! </p>

  <h3>What is <em>Affinities</em>?</h3>
  <p>In <a href="/affinities">Affinities</a> page you can see a list of some
    developers who love the same languages as you. From here you can start
    chatting with them.</p>

  <h3>What is <em>Schedule</em>?</h3>
  <p>In <a href="/schedule">Schedule</a>
    page you can see a list of possible pair-programming slots in the next week.
    You see only users compatible with your availability schedule.</p>
</section>

{{/inline}} {{>layout}}
