{{#*inline "body"}}

<strong>DevAndDev helps developers finding pair-programming partners.</strong>
<br />

<div style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%; ">
  <iframe
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/NLpahtVzL1o"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
</div>

{{/inline}}
{{>layout}}
