<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/public/ui/grids-responsive.css">
  <link rel="stylesheet" href="/public/ui/pure.css">
  <link rel="stylesheet" href="/public/ui/app.css">
</head>

<body>
<div class="container">
  <header class="main-header">
    <div class="main-header-content">
      <div class="pure-menu pure-menu-horizontal">
        <a href="/" class="pure-menu-heading pure-menu-link">DevAndDev</a>
        <ul class="pure-menu-list">
    {{#if authenticated}}
          <li class="pure-menu-item">
            <a href="/dashboard" class="pure-menu-link">Dashboard</a>
          </li>
          <li class="pure-menu-item">
            <a href="/logout" class="pure-menu-link">Sign Out</a>
          </li>
    {{else}}
          <li class="pure-menu-item">
            <a href="/login" class="pure-menu-link">Sign In</a>
          </li>
          <li class="pure-menu-item">
            <a href="/join" class="pure-menu-link">Sign Up</a>
          </li>
    {{/if}}
        </ul>
      </div>
    </div>
  </header>
  <div class="content">
    <h1>{{ title }}</h1>
    {{~> body}}
  </div>
  <footer class="main-footer">
    <div class="main-footer-content">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="/privacy" class="pure-menu-link">Privacy Policy</a>
          </li>
          <li class="pure-menu-item">
            <a href="/code-of-conduct" class="pure-menu-link">Code of Conduct</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
</body>

</html>
