<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DevAndDev - {{ title }}</title>
  <link rel="stylesheet" href="/static/ui/grids-responsive.css">
  <link rel="stylesheet" href="/static/ui/pure.css">
  <link rel="stylesheet" href="/static/ui/main.css">
</head>

<body>
<div class="container">
  {{>header}}
  <div class="content">
    <h1>{{ title }}</h1>
    {{~> body}}
  </div>
  {{>footer}}
</div>
</body>

</html>
