<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/public/ui/grids-responsive.css">
  <link rel="stylesheet" href="/public/ui/pure.css">
  <link rel="stylesheet" href="/public/ui/app.css">
</head>

<body>
  <div class="content">
{{~> body}}
  </div>
</body>

</html>

