<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
</head>

<body>
<div class="container">
  {{>header}}
  <div class="content">
    <h1>{{ title }}</h1>
    {{~> body}}
  </div>
  {{>footer}}
</div>
</body>

</html>
