{{#*inline "body"}}

    {{#if flash}}
    <div class="alert alert-danger">{{ flash }}</div>
    {{/if}}

    <form action="/login" method="post" accept-charset="utf-8" class="pure-form pure-form-stacked">
      <fieldset>
        <div class="pure-control-group">
          <label for="username">Username or email address</label>
          <input type="text" name="username" id="username" value="" placeholder="Username" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
        </div>

        <div class="pure-control-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" value="" placeholder="password" />
        </div>

        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary">Sign In</button>
        </div>
      </fieldset>
    </form>

    <p>New to DevAndDev? <a href="/join">Create an account</a></p>
  </div>

{{/inline}}
{{>layout}}
