{{#*inline "body"}}

    {{#if flash_msg }}
    <div class="alert alert-{{ flash_name }}">{{ flash_msg }}</div>
    {{/if}}

    <form action="/password_reset" method="post" accept-charset="utf-8" class="pure-form pure-form-stacked">
      <fieldset>
        <p>
          Enter your user account's verified email address and we will send you a password reset link.
        </p>
        <div class="pure-control-group">
          <input type="email" name="email" id="email" value="" placeholder="Email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
        </div>

        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary">Send password reset email</button>
        </div>
      </fieldset>
    </form>

{{/inline}}
{{>layout}}

