{{#*inline "body"}}

    {{#if flash_msg }}
    <div class="alert alert-{{ flash_name }}">{{ flash_msg }}</div>
    {{/if}}

    <form action="/password_reset/{{ token }}" method="post" accept-charset="utf-8" class="pure-form pure-form-stacked">
        <div class="pure-control-group">
          <label for="password">New password:</label>
          <input type="password" name="password" id="password" placeholder="Password" />
          <span class="pure-form-message-inline">Make sure it's at least 15 characters OR at least 8 characters including a number and a lowercase letter.</span>
        </div>

        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary">Reset password</button>
        </div>
    </form>

{{/inline}}
{{>layout}}

