{{#*inline "body"}}

    <div class="alert alert-success">
      Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.
    </div>

{{/inline}}
{{>layout}}

