.language-tag {
    margin-left: 0.4em;
    margin-bottom: 0.4em;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 0.5em;
    padding: 0.2em 0.4em;
}

.language-tag .pure-button {
    margin-right: 0.5rem;
}

.language-level-tag,
.language-priority-tag {
  margin-left: 0.5em;
}

.language-level-tag-expert {
  color: #e5c100;
}

.language-level-tag-proficient {
  color: #999999;
}

.language-level-tag-novice {
  color: #cd7f32;
}

.schedule-table-wrapper {
  overflow-x:auto;
  width: 800px;
}

.availability-week {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.availability-day {
  display: flex;
  flex-direction: column;
  width: 14.28%;
}

.availability-day-header {
  text-align: center;
}

.availability-day-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 40em;
}

.availability-day button {
  display: block;
  padding: 5px;
  width: 3em;
  height: 3em;
  margin: 0.1em;
  line-height: 1em;
  font-weight: bold;
  text-align: center;
}

.devand-chat-message-bubble {
  border-radius: 2em;
  background-color: #ddddff;
  padding: 1em 1em 1.5em 1em;
  margin-top: 1em;
  margin-right: 5em;
  clear: both;
  position: relative;
}

.devand-chat-message-bubble.devand-from-me {
  background-color: #ddffdd;
  margin-right: 0;
  margin-left: 5em;
}

.devand-chat-message-bubble.devand-from-other:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.75em solid transparent;
	border-right-color: #ddddff;
	border-left: 0;
	border-top: 0;
	margin-top: -0.375em;
	margin-left: -0.75em;
}

.devand-chat-message-bubble.devand-from-me:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.75em solid transparent;
	border-left-color: #ddffdd;
	border-right: 0;
	border-top: 0;
	margin-top: -0.375em;
	margin-right: -0.75em;
}

.devand-chat-message-bubble .devand-timestamp {
  font-size: 75%;
  color: #808080;
  float: right;
  position: absolute;
  bottom: 0;
  right: 2em;
}
