body {
    background: #e0e0e0;
}

.container {
    background: #ffffff;
    position: relative;
    min-height: 100vh;
}

.content {
    background: #ffffff;
    margin: 0 auto;
    padding: 0 2em;
    max-width: 1400px;
    line-height: 1.6em;
    padding-bottom: 5rem;
}

.main-header {
    margin-bottom: 2em;
    background: #e0e0e0;
}

.main-header-content {
    margin: 0 auto;
    max-width: 1400px;
}

.main-footer {
    background: #e0e0e0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main-footer-content {
    margin: 0 auto;
    max-width: 1400px;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin: 1em auto;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

a {
    color: #586069!important;
    text-decoration: none;
}

a:hover {
    color: #0366d6!important;
    text-decoration: underline;
}

.devand-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.devand-menu-item {
  display: block;
}

@media screen and (min-width: 64em) {
  .devand-menu-item {
    display: inline-block;
  }
}

.main-header .pure-menu-link img {
  display: inline-block;
  height: 2em;
  width: 2em;
}
