body {
    background: #e0e0e0;
}

.container {
    background: #ffffff;
    position: relative;
    min-height: 100vh;
}

.content {
    background: #ffffff;
    margin: 0 auto;
    padding: 0 2em;
    max-width: 1400px;
    line-height: 1.6em;
    padding-bottom: 20rem;
}

.main-header {
    margin-bottom: 2em;
    background: #e0e0e0;
}

.main-header-content {
    margin: 0 auto;
    max-width: 1400px;
}

.main-footer {
    background: #e0e0e0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main-footer-content {
    margin: 0 auto;
    max-width: 1400px;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin: 1em auto;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

button,
a {
    color: #586069;
    text-decoration: none;
}

button:hover,
a:hover {
    color: #0366d6;
    text-decoration: underline;
}

.devand-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.devand-menu-item {
  display: block;
}

@media screen and (min-width: 64em) {
  .devand-menu-item {
    display: inline-block;
  }
}

.main-header .pure-menu-link img {
  display: inline-block;
  height: 2em;
  width: 2em;
}

.devand-cookie-policy {
  background: #586059;
  color: #ffffff;
  padding: 1em;
}

.devand-cookie-policy a {
  color: #bdbfc0;
}

.devand-hero-animated {
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(7,18,100);
  background: linear-gradient(135deg, rgba(7,18,100,1) 0%, rgba(12,25,125,1) 100%);
  overflow-x: hidden;
}

@media screen and (min-width: 64em) {
  .devand-hero-animated {
    font-size: 5em;
  }
}


.devand-hero-animated strong {
  color: #d2fced;
}

.devand-hero-animated em {
  color: #d2fced;
  text-transform: none;
}

.devand-hero-animated-step {
  color: #1fd4a5;
  margin: 0;
  padding: 0;
  display: none;
}

.devand-hero-animated-step.visible {
  display: block;
	-webkit-animation: devand-hero-animated-step 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: devand-hero-animated-step 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes devand-hero-animated-step {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes devand-hero-animated-step {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* Disguise a button as a normal link */
.devand-link-button {
  background: none;
  border: none;
  cursor: pointer;
}
